<div class="business_list_header">
 <h2>Here's some of the exciting businesses that are looking for someone to own up.</h2>
</div>

<div class="business_list">
 <%= render "list" %>
</div>

<div class="masterfooter">
 <p> about us | terms and conditions | careers</p>
</div>
		
</main>