<main>
	<header style="text-align: center; font-family:futura; font-size: 24px; padding-top:5px; position:fixed; top:5px; height:45px; width:100%; color: white; text-decoration: none; background-color:#171717">
 		<%= link_to 'ownUp', root_path %>
 	</header>

	<section>
		<div align="center" style="font-family:futura; margin-top:100px, margin-bottom:15px; width:100%;">
    		<h2>Here's some of the exciting businesses that are looking for someone to own up.</h2>
    	</div>
	</section>

  		<%= render "list" %>

	<footer style="text-align: center; font-family:futura; position:fixed; bottom:5px; height:50px; width:100%; color: white; background-color:#171717">
		<div>
			<p> about us | terms and conditions | careers</p>
		</div>
	</footer>
</main>