<main >
  <section>
  <div class="masterheader"></div>
  

  <div class="home_headline">
   <h1>ownUp</h1>
   <h3>the marketplace for markets</h3>
  </div>

  <div class="home_body">
   <div align="center">
    <h4>begin your entreprenuerial adventure today.</h4>
    <p><%= link_to '[see the opportunities]', index_path %></p>    
<!-- ^this will take you to a list of businesses -->
      <p><%= link_to '[create an account]', new_buyer_path %> | <%= link_to '[log in]', login_path %></p> 
      <!-- ^this create a new user -->
    </div>
</div>

<div class="masterfooter">
	<div>
	 <p> about us | terms and conditions | careers</p>
	</div>
</div>



</section>
</main>