

<div class="buyer_login">
	<p>email: <%= @buyer.email =%></p> 
	<p><%= link_to '[log out]', logout_path %>
</div>

<%= link_to '[create an account]', buyers_new_path %>


<div class="masterfooter">
 <div>
  <p> about us | terms and conditions | careers</p>
 </div>
</div>