// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_headline {
	padding-top: 100px;
	text-align: center;
	position: absolute;	
	height: 100%;
	width: 100%;
	font-family: futura; 
	font-size:54px;
	color: #484d4d; 
	
}

.home_body {
	position: absolute;	
	top: 45%;
	width: 100%;
	font-family:futura; 
	font-size:22px;
	color: #484d4d; 
	padding-top: 100px;
	padding-bottom: 75px;

}


